version: 0.1.{build}

# enable patching of dot net core/standard *.csproj files with APPVEYOR version
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

image: Visual Studio 2022

configuration:
- Release

before_build:
- nuget restore -Verbosity quiet

build:
  publish_nuget: true             # package projects with .nuspec files and push to artifacts
  publish_nuget_symbols: false     # generate and publish NuGet symbol packages
  include_nuget_references: false  # add -IncludeReferencedProjects option while packaging NuGet artifacts
  verbosity: minimal              # MSBuild verbosity level

deploy:
- provider: NuGet
  api_key:
    secure: tXapo9KbM0JRpwuw0nBCHF1J3rtJ6/a/FvWvsXGbAi0bWVTTuZC8Pk1jLJZQ9VLV
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    appveyor_repo_tag: true       # deploy on tag push only
